/* @import url("https://rsms.me/inter/inter.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navigation {
  transform: translateY(0);
  transition: transform 3s linear;
}
.navigation.hidden {
  transform: translateY(-100%);
  transition: transform 1s ease-out;
}

.robot-ears {
  background: red;
  border: 1.25px solid #000;
  border-radius: 5.5px;
  box-sizing: border-box;
  height: 12.5px;
  position: absolute;
  left: 19.375px;
  top: 51.25px;
  width: 61.25px;
}

.robot-head {
  background: #fff;
  border-radius: 15px;
  border: 1.25px solid #000;
  box-sizing: border-box;
  position: absolute;
  top: 37.5px;
  left: 25px;
  width: 50px;
  height: 40px;
}

.pulse {
  background: red;
  border-radius: 62.5px;
  height: 10px;
  width: 10px;
  position: absolute;
  top: -15.625px;
  left: 18.375px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  from {
    background: red;
    transform: scale(1);
    opacity: 1;
  }
  to {
    background: #fff;
    transform: scale(1.8);
    opacity: 0;
  }
}

.robot-antenna {
  background: #000;
  height: 6.25px;
  width: 1.75px;
  position: absolute;
  top: -6.25px;
  left: 22.75px;
}

.robot-antenna:before {
  background: red;
  border: 1.25px solid #000;
  border-radius: 12.5px;
  box-sizing: border-box;
  content: "";
  display: block;
  position: relative;
  top: -9.375px;
  left: -4.3125px;
  width: 10px;
  height: 10px;
}

.robot-face {
  box-sizing: border-box;
  background: #94d3f7;
  border-radius: 7.5px;
  border: 1px solid #000;
  position: absolute;
  top: 6.25px;
  left: 6.25px;
  width: 35px;
  height: 25px;
}

.robot-eye-left,
.robot-eye-right {
  background: #000;
  border-radius: 12.5px;
  position: absolute;
  top: 6.25px;
  width: 5px;
  animation: blink 4s infinite ease-in-out;
}

.robot-eye-left {
  left: 7px;
}

.robot-eye-right {
  right: 7px;
}

@keyframes blink {
  0%,
  12%,
  100% {
    height: 5px;
    top: 6.25px;
  }
  5%,
  7% {
    height: 0.875px;
    top: 8.875px;
  }
}
.place-card {
  visibility: hidden;
}
.robot-mouth {
  width: 10px;
  position: absolute;
  left: 11.5px;
  top: 3.75px;
}

#signUpForm {
  max-width: 500px;
}
#signUpForm .form-header .stepIndicator.active {
  font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
  font-weight: 600;
  color: #5a67d8;
}
#signUpForm .form-header .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #c3dafe;
  border-radius: 50%;
  border: 3px solid #ebf4ff;
}
#signUpForm .form-header .stepIndicator.active::before {
  background-color: #a3bffa;
  border: 3px solid #c3dafe;
}
#signUpForm .form-header .stepIndicator.finish::before {
  background-color: #5a67d8;
  border: 3px solid #c3dafe;
}
#signUpForm .form-header .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
  background-color: #a3bffa;
}
#signUpForm .form-header .stepIndicator.finish::after {
  background-color: #5a67d8;
}
#signUpForm .form-header .stepIndicator:last-child:after {
  display: none;
}
#signUpForm input.invalid {
  border: 2px solid #ffaba5;
}
#signUpForm .step {
  display: none;
}
